[submodule "002_HW_CDI"]
	path = 002_HW_CDI
	url = git@github.com:2526-wmc-4ahif/hw-cdi-1-m-gruen.git
[submodule "004_Quarkus_backend_1"]
	path = 004_Quarkus_backend_1
	url = git@github.com:2526-wmc-4ahif/hw-quarkus-backend-1-m-gruen.git
[submodule "005_HW_Rest"]
	path = 005_HW_Rest
	url = git@github.com:2526-wmc-4ahif/hw-rest-with-db-m-gruen.git
[submodule "008_WMC_Test"]
	path = 008_WMC_Test
	url = git@github.com:2526-wmc-4ahif/test-wmc-quarkus-rest-m-gruen.git
[submodule "010_Quarkus_backend_2"]
	path = 010_Quarkus_backend_2
	url = git@github.com:2526-wmc-4ahif/hw-quarkus-backend-2-m-gruen.git
[submodule "012_Quarkus_backend_3"]
	path = 012_Quarkus_backend_3
	url = git@github.com:2526-wmc-4ahif/hw-quarkus-backend-3-m-gruen.git
[submodule "014_WMC_Test_2"]
	path = 014_WMC_Test_2
	url = git@github.com:2526-wmc-4ahif/test-wmc-quarkus-rest-2-m-gruen.git
[submodule "021_WMC_Test_3"]
	path = 021_WMC_Test_3
	url = git@github.com:2526-wmc-4ahif/test-wmc-android-1-m-gruen.git
